/*
    CSS File for index.html
*/

*{
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue';
}

h3{
    text-align: center;
}

div {
    background-image: linear-gradient(to right bottom, rgba(68, 85, 90, 0.3), rgba(0,0,0,0.3)),
        url("media/ocean_image.jpeg");
    height: 100vh;
    background-size: cover;
}

li{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    filter: opacity(50%);
}
